include ./layout/head.jade
body
		.container
			include ./layout/nav.jade
			.jumbotron
				h1
					| we
					span.red ♥
					| games
				p.text-muted Deine Plattform für JavaScript-Spiele
			-if(user)
				div.alert.alert-info.alert-dismissible Willkommen, #{user.username}
					button.close(aria-label='close', data-dismiss='alert', type='button')
						span(aria-hidden='true')
							| x
			-if(message != undefined && message.length > 0)
				div.alert.alert-warning #{message}
			-if(search != undefined)
				-if (results[0] != undefined)
					div.alert.alert-success Deine Suche nach "#{search}" hat folgendes Ergeben:
				-else
					div.alert.alert-warning Deine Suche nach "#{search}" hatte leider keine Ergebnisse :(
			//Spielvorschau 
			.row
			each data, i in results
				if (i % 5 == 0 && i != 0)
					.col-sm-6.col-md-4.gamePanel
						.thumbnail.indexGameView
							a(href='http://files1.coloribus.com/files/adsarchive/part_679/6796305/file/volkswagen-fake-logo-small-12100.jpg')
								img.previewPics(src='img/wv.png', alt='Werbung')
								.caption
									h3 Werbung
									p Hier könnte Ihre Werbung stehen	
				.col-sm-6.col-md-4.gamePanel
					.thumbnail.indexGameView
						if(data.imageEnc != null)
							a(href='/play?game=#{data.id_game}')
								img.previewPics(name='#{data.id_game}',src='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/image.#{data.imageEnc}', alt='#{data.gamename}', onerror='showPlaceholder({data.id_game})')
						else 
							a(href='/play?game=#{data.id_game}')
								img.previewPics(name='#{data.id_game}', src='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/image.png', alt='#{data.gamename}', onerror='showPlaceholder(#{data.id_game})')
						.caption
							h3 #{data.gamename}
							p #{data.description}
							p
								a.btn.btn-primary(href='/play?game=#{data.id_game}', role='button') Play
		include ./layout/footer.jade