include ./layout/head.jade
body
	.container
		include ./layout/nav.jade 
		.panel.panel-default
			.panel-heading 
				h2 Spiele
			.panel-body
				table.table.table-striped
					tablehead
						tr
							td ID
							td Spielname
							td Uploader
							td Beschreibung
							td JS Datei
							td Anzeigebild
							td Aktionen
					tablebody
						each data in games
							-if (data.inactive == 1)
								tr.danger
									td #{data.id_game}
									td 
										a(href='/play?game=#{data.id_game}') #{data.gamename}
									td #{data.user}
									td #{data.description}
									-if (data.javascript != null)	
										td #{data.javascript}
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/#{data.javascript}' download='WeLoveGames_#{data.gamename}.js')  Download
									-else
										//Pfad muss ncoh angepasst werden
										td hier erstellt
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/#{data.javascript}' download='WeLoveGames_#{data.gamename}.js')  Download	
									td 
										-if (data.imageEnc != null)
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/image.#{data.imageEnc}') image.#{data.imageEnc}
										-else	
											| kein Bild vorhanden
									td
										a(href='/removeGame?gameId=#{data.id_game}', title='Spiel aktivieren')
											span.glyphicon.glyphicon-ok
							-else
								tr
									td #{data.id_game}
									td 
										a(href='/play?game=#{data.id_game}') #{data.gamename}
									td #{data.user}
									td #{data.description}
									-if (data.javascript != null)	
										td #{data.javascript}
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/#{data.javascript}' download='WeLoveGames_#{data.gamename}.js')  Download
									-else
										//Pfad muss ncoh angepasst werden
										td hier erstellt
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/#{data.javascript}' download='WeLoveGames_#{data.gamename}.js')  Download	
									td 
										-if (data.imageEnc != null)
											a(href='uploads/#{data.user}/#{data.id_game}.#{data.gamename}/image.#{data.imageEnc}') image.#{data.imageEnc}
										-else	
											| kein Bild vorhanden
									td
										a(href='/removeGame?gameId=#{data.id_game}', title='Spiel deaktivieren')
											span.glyphicon.glyphicon-remove
	include ./layout/footer.jade