include ./layout/head.jade
body
	.container
		include ./layout/nav.jade 
		.panel.panel-default
			.panel-heading 
				h2 Benutzer
			.panel-body
				table.table.table-striped
					tablehead
						tr
							td ID
							td Username
							td Email
							td Aktionen
					tablebody
						each data in users
							-if (data.inactive == 1)
								tr.danger
									td #{data.id_user}
									td #{data.username}
									td #{data.email}
									td
										a(href='/removeUser?userId=#{data.id_user}', title='User aktivieren')
											span.glyphicon.glyphicon-ok
										| &nbsp;&nbsp;&nbsp;
										a(href='/editUser.html?userId=#{data.id_user}', title='User bearbeiten')
											span.glyphicon.glyphicon-pencil
							-else
								tr
									td #{data.id_user}
									td #{data.username}
									td #{data.email}
									td
										a(href='/removeUser?userId=#{data.id_user}', title='User deaktivieren')
											span.glyphicon.glyphicon-remove
										| &nbsp;&nbsp;&nbsp;
										a(href='/editUser.html?userId=#{data.id_user}', title='User bearbeiten')
											span.glyphicon.glyphicon-pencil
										| &nbsp;&nbsp;&nbsp;
										a(href='/becomeAdmin?userId=#{data.id_user}', title='zum Admin machen', onclick="if(confirm('Bist du sicher, dass du diesem User Adminrechte geben willst?')){return true;} else {return false;}")
											span.glyphicon.glyphicon-wrench
		.panel.panel-default
			.panel-heading 
				h2 Admins
			.panel-body
				table.table.table-striped
					tablehead
						tr
							td ID
							td Username
							td Email
							td Aktionen
					tablebody
						each data in admins
								tr
									td #{data.id_user}
									td #{data.username}
									td #{data.email}
									td
										a(href='/editUser.html?userId=#{data.id_user}', title='Admin bearbeiten')
											span.glyphicon.glyphicon-pencil
										| &nbsp;&nbsp;&nbsp;
										a(href='/becomeAdmin?userId=#{data.id_user}', title='zum User machen', onclick="if(confirm('Bist du sicher, dass du diesem Admin die Adminrechte entziehen willst?')){return true;} else {return false;}")
											span.glyphicon.glyphicon-wrench
	include ./layout/footer.jade